# MongoDB Connection
DATABASE_URI=mongodb+srv://Rumeena:Nos0sLVULQra0GV3@cluster0.a16rjdq.mongodb.net/?appName=Cluster0
# JWT Secret Key (generate a random string)
JWT_SECRET=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE1MTk5MDkzMjEsIm5iZiI6MTUxOTkwOTMyMSwianRpIjoiNmJlZDAwMWYtNTFiYi00NzVhLTgxZDAtMDcwNGE5Mjk0MWZlIiwiZXhwIjoxNTE5OTEwMjIxLCJpZGVudGl0eSI6eyJlbWFpbCI6InQzcXVsZmVlbUBrd2l2NS42dXIiLCJuYW1lIjoiM2lveHJtZnF4IiwicGFzc3dvcmQiOm51bGx9LCJmcmVzaCI6ZmFsc2UsInR5cGUiOiJhY2Nlc3MiLCJ1c2VyX2NsYWltcyI6eyJ1c2VyIjp7ImVtYWlsIjoidDNxdWxmZWVtQGt3aXY1LjZ1ciIsIm5hbWUiOiIzaW94cm1mcXgiLCJwYXNzd29yZCI6bnVsbH19fQ.ejtr_NyZyBronWMKuE0RFTjWej--T0zGrdc_iymGtVs

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dmgs0kdag
CLOUDINARY_API_KEY=867598496293574
CLOUDINARY_API_SECRET=lVQkZ090mOUfmD-znw6RRpuJy6Q

# Server Port
PORT=3001
